@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'TTF';
  color: #f4f4f5;
}

@font-face {
  font-family: 'TTF';
  src: url('/fonts/TTFirsNeue-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 0.7rem;
  background-color: transparent;
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(228, 4%, 25%);
  border-radius: 12px;
  transition: .4s;
  display: none;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #8951ff;
}

.Welcome-text {
  -webkit-background-clip: text;
  background-image: linear-gradient(130deg, #b2d8f1, #e7b4f6);
  -webkit-text-fill-color: transparent;
  background-blend-mode: normal, screen;
  /* -webkit-background-clip: text; */
  background-clip: text;
  /* -webkit-text-fill-color: transparent; */
  user-select: none;
}

.Second-text {
  background-image: linear-gradient(275deg, #fffdff, #c0bdf2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-blend-mode: normal, screen;
  /* -webkit-background-clip: text; */
  background-clip: text;
  /* -webkit-text-fill-color: transparent; */
  user-select: none;
}

.Welcome-box {
  isolation: isolate;
  overflow: hidden;
  /* align-items: center; */
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border-radius: 32px;
  box-shadow: inset 0 -7px 11px #a48fff1f;
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.2);

  position: relative;
  width: -moz-max-content;
  /* width: max-content; */
  transition: 0.45s cubic-bezier(0.6, 0.6, 0, 1) box-shadow;
}

.button-primary {
  background: linear-gradient(180deg,
      rgba(60, 8, 126, 0) 0%,
      rgba(144, 104, 196, 0.84) 100%),
    rgba(169, 104, 223, 0.42);
  box-shadow: inset 0 0 12px #bf97ff3d;
  transition: box-shadow .3s, background .3s;
}

.button-primary:hover {
  background: linear-gradient(180deg,
      rgba(60, 8, 126, 0) 0%,
      rgba(146, 84, 226, 0.84) 100%),
    #8951ff;
  box-shadow: inset 0 0 12px #a78ad670;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

canvas {
  height: 300px;
}

@layer base {
  :root {
    --radius: 0.75rem;
  }
}


/* Уведомления */

.Toastify__toast {
  font-size: .9rem;
  border-radius: 12px !important;
  padding: .5rem;
}

.Toastify__toast-theme--colored.Toastify__toast--error {
  background: #7F1D1D !important;
}

.Toastify__toast-theme--colored.Toastify__toast--success {
  background: #10b981 !important;
  border: 1px solid #3A3A3C !important;
}

@media (max-width: 480px) {
  .Toastify__toast {
    width: 250px;
    margin-top: 1.4rem;
    margin-bottom: 1rem;
    border-radius: 12px !important;
  }

  .Toastify__toast-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}